div{
    background: red;
    width: 200px; /*Ancho*/
    height: 200px; /*Altura*/
    margin: 10px; /*Separacion*/
}

h1{
    background: blue;
}

input{
    width: 80%; /*90% respecto la caja que lo contiene*/
}

form{
    width: 200px;
}

#div2{
    background: rebeccapurple;
}