.box {
    background: red;
    margin-bottom: 10px; /*Los margenes se sobre ponen es decir un margen de 10px no se va a sumar con el margen de 10px de abajo si no que se suma. A esto se le conoce como "Margin Colapse" el cual toma el margen mas grande*/
    height: 150px;
    width: 150px;
}

.box2 {
    background: red;
    margin-top: 20px; /*Domina este margen*/
    height: 150px;
    width: 150px;
}