body {
    margin: 0;
}
.box {
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px;
}

.box-default { /*Suma el padding y border al height y width*/
    padding: 25px;
    border: 10px solid black;
}

.box-new {
    box-sizing: border-box; /*Ajusta el contenido hasta el height y width*/
    padding: 25px;
    border: 10px solid black;
}

.box-comparation { /*Compara la caja "box-default" con la caja "box-new". es decir esto es lo mismo que hace box-sizing ajusta para que el tamaño solamente sea lo estipulado en la clase box*/
    width: 30px;
    height: 30px;
    padding: 25px;
    border: 10px solid black;
}