.rgba {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    margin: 20px;
}

.enlace{
    text-decoration: none;
}

.hexa {
    width: 100px;
    height: 100px;
    background-color: #ff0000; /*En hexadecimal se usa 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f*/
    margin: 20px;
}

.transparent {
    color: transparent;
    width: 0;
    height: 0;
}

a {
    font-size: 25px;
}

p {
    font-size: 25px;
}

#rojo {
    color: #ff0000; /*Es lo mismo que f00*/
}
#azul {
    color: #0000ff; /*Es lo mismo que 00f*/
}
#verde {
    color: #00ff00; /*Es lo mismo que 0f0*/
}