body {
    background-color: red;
    margin: 0;
}

.box {
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom, transparent, #000a); /* Gradiente lineal lado (no es necesario), color inicial, color final*/
    margin: 0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;
}

.box2 {
    width: 400px;
    height: 400px;
    background: radial-gradient(transparent, #000a); /* Gradiente radial color inicial, color final. es como una viñeta porque lo hace a partir de un radio hacia el centro*/
    margin: 0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;
}

h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}